:root {
  --primaryColor: #01a1ff;
}

body {
  font-family: Poppins, Arial;
  margin: 0;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  align-items: center;
  font-size: 15px;
  padding: 15px; 
}

.left-header {
  display: flex;
  gap: 50px;
  align-items: center;
}

.right-header {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: 300px;
}

.pages, .sign-button {
  cursor: pointer;
  transition: opacity 0.5s;
  font-weight: 500;
}

.pages:hover, .sign-button:hover{
  opacity: 0.6;
}

.sign-button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--primaryColor);
  color: white;
}

.join-flex {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  background-color: rgb(196, 196, 218);
  padding: 5px;
}

.code-input {
  border: 2px solid rgb(184, 175, 175); 
  border-radius: 15px; 
  padding: 8px; 
  font-size: 16px;
  width: 100px; 
  text-align: center;
}

.code-input:focus {
  border-color: var(--primaryColor);
  outline: none;
}
